
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");

body {
    background-image: url("https://cdn.pixabay.com/photo/2018/03/17/19/36/connection-3234929_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Radio Canada", sans-serif;
  }
  
h1{
  color:white;
  text-shadow: 1px 1px 2px rgbs(0,0,0,0.2);
  font-size:50px;
  margin-bottom:-5px;
}

.box{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 35px;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  color: gainsboro;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 75px;
  height: 75px;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  transition: background-color 0.3s;
  cursor:pointer;
}

#b1{
  border-bottom:2px transparent;
  border-right: 2px transparent;
}

#b2{
  border-bottom:2px transparent;
  border-right: 2px transparent;
  border-left: 2px transparent;
}

#b3{
  border-bottom:2px transparent;
  border-left: 2px transparent;
}

#b4{
  border-bottom:2px transparent;
  border-right: 2px transparent;
  border-top: 2px transparent;
}

#b5{
  border:2px transparent;
}

#b6{
  border-bottom:2px transparent;
  border-right: 2px transparent;
  border-left: 2px transparent;
}

#b7{
  border-top:2px transparent;
  border-right: 2px transparent;
}

#b8{
  border-top:2px transparent;
  border-right: 2px transparent;
  border-left: 2px transparent;
}

#b9{
  border-top:2px transparent;
  border-left: 2px transparent;
}

.btn:hover{
  background: color white;
}

.btn:disabled{
  color:black;
  cursor: no-drop;
}

#reset{
  background-color:rgba(255,255,255,0.8);
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
}

#result-container{
  box-sizing:border-box;
  width: 95px;
  height:40px;
  border: 1px solid black;
  margin-left: auto;
  border-radius: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  color: black;
  font: size 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
}

#result-container:hover{
  background-color: white;
  color:black;
}

#header{
  text-align: center;
}